@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: bold;
  src: local("Poppins Bold"), local("Poppins-Bold"), url("./fonts/poppins-bold.woff2") formt("woff2"), url("./fonts/poppins-bold.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins Regular"), local("Poppins-Regular"), url("./fonts/poppins-regular.woff2") formt("woff2"), url("./fonts/poppins-regular.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins Black"), local("Poppins-Black"), url("./fonts/poppins-black.woff2") formt("woff2"), url("./fonts/poppins-black.woff") format("woff"); }

@font-face {
  font-family: "PT Serif";
  font-weight: 400;
  font-style: normal;
  src: local("PT Serif Regular"), local("PT-Serif-Regular"), url("./fonts/pt-serif-regular.woff2") formt("woff2"), url("./fonts/pt-serif-regular.woff") format("woff"); }

@font-face {
  font-family: "PT Serif";
  font-weight: 600;
  font-style: normal;
  src: local("PT Serif Bold"), local("PT-Serif-Bold"), url("./fonts/pt-serif-bold.woff2") formt("woff2"), url("./fonts/pt-serif-bold.woff") format("woff"); }

body {
  margin: 0;
  padding-inline-start: 12px;
  padding-inline-end: 30px; }

html {
  font-family: 'Poppins', sans-serif; }

li {
  list-style: none; }

.team_page__about__navigation__lists__about__job {
  font-family: 'PT Serif', serif; }

.team_page__about__navigation__lists__about__name {
  font-weight: 600; }

.team_page__heading {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  max-width: 278px; }

.team_page__article {
  max-width: 439px;
  padding-block-start: 10px; }

.team_page__article__heading {
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase; }

@media (min-width: 800px) {
  .team_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
    padding-block-start: 50px; } }

.team_page__about {
  margin: auto;
  max-width: 800px;
  padding-block-end: 50px; }

.team_page__about__navigation {
  margin-inline-start: -40px; }

.team_page__about__navigation__lists__about__photo {
  width: 100%;
  height: auto; }

.team_page__about__navigation__lists__about__name {
  line-height: 21px; }

.team_page__about__navigation__lists__about__job {
  margin: auto;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-block-start: -14px;
  font-size: 10px;
  line-height: 13px;
  max-width: 100%; }

.photo1 {
  margin-inline-end: -87px; }

.photo2 {
  margin-inline-end: -72px; }

.photo3 {
  margin-inline-end: -55px; }

.photo4 {
  margin-inline-end: -66px; }

.photo5,
.photo6 {
  margin-inline-end: -60px; }

.team_page__about__navigation__lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px; }

.team_page__about__navigation__lists__about:nth-of-type(2),
.team_page__about__navigation__lists__about:nth-of-type(4),
.team_page__about__navigation__lists__about:nth-of-type(6) {
  padding-block-start: 50px; }

.team_page__about__navigation__lists__about__name,
.team_page__article__description {
  font-size: 14px;
  line-height: 21px; }

.team_page__article__description {
  padding-block-end: 50px; }

@media (min-width: 800px) {
  .team_page__about__navigation__lists {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 70px; }
  .team_page__about__navigation__lists__about:nth-of-type(5) {
    padding-block-start: 146px; }
  .team_page__about__navigation__lists__about__job {
    margin-block-start: -22px; } }

.team_page__footer {
  margin: auto;
  max-width: 800px; }

.team_page__footer__copyright {
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
  text-align: center; }
