body {
    margin: 0;
    padding-inline-start: 12px;
    padding-inline-end: 30px;
}

html {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

.team_page__about__navigation__lists__about__job {
    font-family: 'PT Serif', serif;
}

.team_page__about__navigation__lists__about__name {
    font-weight: 600;
}