.team_page__heading {
    font-family: 'PT Serif', serif;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}

.team_page__article__heading {
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}